{% extends "users/base.html" %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-3">
    <h2 class="text-center">Вхід</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username">Ім'я користувача</label>
            <input type="text" name="username" class="form-control" id="id_username" required>
        </div>
        <div class="form-group">
            <label for="id_password">Пароль</label>
            <input type="password" name="password" class="form-control" id="id_password" required>
        </div>
        {% if form.errors %}
        <div class="alert alert-danger">
            <p>Не вдалося ввійти. Перевірте логін і пароль.</p>
            <a href="{% url 'password_reset' %}">Забули пароль?</a>
        </div>
        {% endif %}
        <button type="submit" class="btn btn-primary btn-block">Увійти</button>
    </form>
        </div>
</div>

        <hr>
        <div class="text-center">
            Потрібен обліковий запис? <a href="{% url 'signup' %}">Зареєструйся</a>
        </div>
    </div>
</div>
{% endblock %}
